@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
    --background:  rgba(24, 24, 24, 1);
}

body {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 18px;
    overflow-x: hidden;
}

.heading {
    color: darkslategrey;
    font-weight: bold;
    width: 75vw;
    height: 1.5em;
    text-align: center;
    padding-top: 0.5%;
    margin: 2% auto;
    background-color: white;
}

#general-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar-display {
    width: 175px;
    height: 175px;
    cursor: pointer;
    border-radius: 100px;
    border: 2px solid black;
    transition: all 0.1s ease;
}

#avatar-display:active {
    border-radius: 80px;
}
#avatar-display:hover {
    opacity: 0.75;
}

#bg-color {
    width: 15%; 
    height: 30px; 
    background-color: rgba(0, 0, 0, 0.1);
}


#image-card {
    background: white; 
    position: absolute; 
    height: 70vh;
    width: 50vw;
    top: 75px;
    right: 400px;
    opacity: 1;
}

#background-card {
    visibility: hidden; 
    position: absolute; 
    background: rgba(0, 0, 0, 0.5); 
    height: 100%; 
    width: 100%; 
    top: 0px; 
    left: 0"
}

#socials {
    display: flex;
    flex-flow: column nowrap;
}

.form-div {
    background-color: royalblue;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 45%;
    margin: 0 auto;
    padding: 5px;
    padding-left: -5px;
    position: relative;
}


.draggable {
    background-color: yellow;
    width: 15px;
    height: 100%;
    cursor: grab;
    margin-right: 5px;
    position: absolute;
    left: 0;
}

.hidden {
    visibility: hidden;
}

#user-link {
    width: 25%;
}

input {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    height: 5%;
    background: none;
    outline: 1px solid white;
    border: none;
    color: white;
    text-overflow: ellipsis;
    padding: 5px;
}

input:focus {
    outline: 3px solid grey;
}

input:disabled {
    outline: none;
}

.social-link,
.social-name {
    margin: 0 3% 0 0;
    width: 20%;
    padding: 0;
}

.social-link {
    width: 50%;
    margin-right: 100px;
}


button {
    font-family: 'Montserrat', sans-serif;
    width: 10%;
    height: 5%;
    border-radius: 5%;
    outline: none;
    border: none;
    margin: 10px;
    opacity: 1;
    transition: all 0.2s ease;
    font-size: 14px;
}

button:hover {
    cursor: pointer;
    background: rgb(206, 206, 206);
}

button:hover:disabled {
    cursor: default;
    transform: none;
    opacity: 1;
    font-size: 14px;
}

.save-button {
    margin: 0;
    padding: 0;
    height: 100%;
    margin-left: 50px;
    position: absolute;
    right: 0;
    border-radius: 0;
}

.delete-button {
    visibility: hidden;
    position: absolute;
    border-radius: 0;
    height: 100%;
    width: 50px;
    background: red;
    font-size: 24px;
    text-align: center;
    padding: 5px;
    border: none;
    transition: none;
    left: -60px;
}

.delete-button:hover {
    opacity: 1;
    background: rgb(219, 2, 2);
}

@media only screen and (max-width: 1024px) {


    a {
        visibility: hidden;
    }

    .heading {
        padding-top: 2%;    
        margin: 5% auto;
        width: 100%;
        background-color: rgb(72, 73, 73);
        color: white;
    }

    #avatar-display:active {
        border-radius: 100px;
    }
    #avatar-display:hover {
        opacity: 1;
    }

    .general-input {
        margin-bottom: 5%;
    }

    label {
        margin-bottom: 5px;
    }

    .form-container {
        margin-bottom: 15%;
    }

    .form-div {
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
    }
    .form-div input {
        margin-left: 5%;
        width: 95%;
        padding: 3%;
        font-size: 1em;
        margin-bottom: 5%;
    }

    .social-link {
        margin-bottom: 10%;
    }

    .delete-button {
        width: 100%;
        bottom: -25%;
        height: 20%;
        left: -10px;
    }

    .save-button {
        position: absolute;
        width: 100%;
        height: 20%;
        bottom: 0;
    }

    .general-input,
    #general-submit {
        width: 75%;
        height: 40px;
        margin-bottom: 5%;
    }

    button {
        width: 50vw;
        height: 7%;
        font-size: 1em;
    }

    #user-copy,
    #user-button {
        width: 30vw;
    }

    #socials-submit {
        background-color: rgb(183, 219, 183);
    }
    #socials-submit:disabled {
        background-color: rgb(206, 206, 206);
        transition: none;
    }
}