@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background: hotpink;
    color: white;
}

nav {
    position: relative;
    top: 0;
    margin-bottom: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}


.nav-item {
    margin: 15px;
}

.left-side-nav {
    display: flex;
}

.right-side-nav {
    display: flex;
}

.image-text-combo {
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#footer {
    margin-top: 100px;
    position: relative;
    bottom: 0;
}

