@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@300&display=swap');

* {
    /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Vollkorn', sans-serif;
    text-align: center;
    background: hotpink;
    color: white;
    margin: 0;
}

.top {
    background: rgb(246,104,104);
    background: linear-gradient(90deg, rgba(246,104,104,1) 0%, rgba(255,136,56,1) 100%);
    margin: 0;
}

h1 {
    font-size: 96px;
}

li {
    font-size: 32px;
}

nav {
    position: relative;
    top: 0;
    margin-bottom: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}


.nav-item {
    margin: 15px;
}

.left-side-nav {
    display: flex;
}

.right-side-nav {
    display: flex;
}

.image-text-combo {
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    display: grid;
    grid-column-gap: 10%;
    grid-row-gap: 10%;
}

.left-side {
    grid-column-start: 1;
    grid-column-end: 2;
}

.right-side {
    grid-column-start: 2;
    grid-column-end: 3;
}

footer {
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
}



