:root {
    --profile-color: cyan;
}

body {
    text-align: center;
    background: hotpink;
    color: white;
}

#social-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 30%;
    padding: 50px 10px;
    margin: 0 auto;
    border-radius: 30px;
}

.social-element {
    height: 50px;
    width: 125px;
    border-radius: 25px;
    margin: 10px 0;
    background-color: #00ccff;
    border: none;

    font-weight: bold;
    font-size: 100%;

    transition: background-color 0.1s ease; 
}

.social-element:hover {
    background-color: #00ffff;
}