body {
    text-align: center;
}

form {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
}
input {
    margin-bottom: 15px;
    padding: 5px;
    font-size: 18px;
}

.misc {
    margin: 0 auto;
}

.hidden {
    visibility: hidden;
}

#success {
    color: green;
}
#failure {
    color: red;
}